# DataTypes and Variables

- A variable is a location in memory, given a specific name, used for storing
object references. 
The names given to both functions and variables are also
called identifiers
- There are specific rules we must follow:
    1. Identifiers may only begin with an underscore `(_)` or a letter but not
numbers. So, `my_var` is a valid variable name, `1var` is not.
    2. Identifiers may be made up of a combination of numbers letters and
underscores, no other characters. For example, you could have
`python_101` or `_python`, but you could not have `$python$`.
    3. There is no limit on the length of an identifier name, although
keeping them short and to the point is recommended.
    4. You cannot use any Python **keywords** as an identifier name. These
are reserved for use by Python for specific purposes.
    5. Variable names are case-sensitive (age, Age and AGE are three different variables)

**Example:**

Legal variable names:

myvar = "John"  
my_var = "John"  
_my_var = "John"  
myVar = "John"  
MYVAR = "John"  
myvar2 = "John"  

Illegal variable names:

2myvar = "John"  
my-var = "John"  
my var = "John"

SyntaxError: invalid syntax (3407628864.py, line 3)

- Unlike other programming languages, you don’t have to declare variable
types before you need them.  
The interpreter will know what the variable type is using the data in it.  
You can change the type of a variable at any time.

- We use the '"=" sign to assign variables with values, also called the ‘assignment
operator.’

- Python has no command for declaring a variable.

- A variable is created the moment you first assign a value to it.

**Example:** 
    
x =10

pi = 3.14

string_ = "Hello World"

**Note:**

Values assigned to variables are not stored in the variable. Instead, only a
reference of the object’s location in memory is stored.  
So, in the code above, the variable named x is storing a reference to 10,
which is the int object, and not 10 as a number

In [ ]:
### Simultaneous Assignment
Simultaneous assignment, also called multiple assignment, lets us give values  
to more than one variable at a time. The syntax for this is:

`var1, var2, ..., varn = exp1, exp2, ..., expn`  

That statement tells Python that all expressions to the right should be  
evaluated and assigned in the corresponding order to the correct variable to the left.

In [3]:
# Try this example:
a, b = 1, 2
print(a)
print(b)

# The output should be: 1, 2

1
2

(1, 2)

In [4]:
# For example:
x = 1 # x has a starting value of 1
y = 2 # y has a starting value of 2
y, x = x, y # swap the x and y values

print(x) # x has a final value of 2
print(y) # y has a final value of

2
1

In [ ]:
### One Value to Multiple Variables
You can assign the same value to multiple variables in one line:

In [5]:
# Example
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [6]:
print(id(x))
print(id(y))
print(id(z))

1648345375856
1648345375856
1648345375856

### Output Variables
The Python `print()` function is often used to output variables.

In [9]:
# Example
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [10]:
# Example
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple (string) variables:

In [11]:
#Example
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator:

In [ ]:
#Example
x = 5
y = 10
print(x + y)

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [12]:
#Example
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [13]:
#Example
x = 5
y = "John"
print(x, y)

5 John

### Data Types

Variables can store data of different types, and different types can do different things.

Built-in Data Types in Python

Text Type: `str`  
Numeric Types: `int`, `float`, `complex`  
Sequence Types: `list`, `tuple`, `range` (also called data structures or data stores)    
Mapping Type: `dict`  
Set Types: `set`    
Boolean Type: `bool`    
None Type: `NoneType`

#### Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [14]:
#Example : Print the data type of the variable x:
x = 5
print(type(x))

<class 'int'>

Example | $\:\:\:\:\:\:\:$ $\:\:\:\:\:\:\:$  Data Type | 
:-------------------|:---------------:|
x = "Hello World"    $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$   | str    | 
x = 20 $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$  |int|
x = 20.5 $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |float|
x =2+ 1j $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |complex |
x = ["apple", "banana", "cherry"] $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |list|
x = ("apple", "banana", "cherry") $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |tuple|
x = range(6) range
x = {"name" : "John", "age" : 36} $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |dict |
x = {"apple", "banana", "cherry"} $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |set |
x = True $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$ |bool |
x = None $\:\:\:\:\:\:\:$  $\:\:\:\:\:\:\:$  |NoneType|

### Python Casting
You can specify a Variable Type
This can be done with casting which is done by using constructor functions:

`int()` - constructs an integer number from an integer, a float (by removing all decimals),   
    or a string (providing the string represents a whole number)  
`float()` - constructs a float number from an integer, a float or a string   
`str()` - constructs a string from a wide variety of data types, including strings, integer and float

In [18]:
#Example 

#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [19]:
#Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Receiving an Input from the Console
We use the `input()` function for this, and the syntax is:

`input([example])` -> string

The function will take an optional argument of string type; the argument is
called example, and the output is a string.

In [20]:
# For example:
name = input("Input your name: ")
print(name)

Input your name: Nicat
Nicat

And the output will be whatever you typed in as your name  
It is worth noting that, even if you input a number, `input()` will 
only return a string.   
If you wanted a number output, you would need to use either the
`eval()` or `int()` functions

In [21]:
# For example:
age = int(input("Enter your age: "))
print(age)
print(type(age))

Enter your age: 38
38
<class 'int'>